# Server
PORT=3000
NODE_ENV=development

# Postgres
# Format: postgresql://USER:PASSWORD@HOST:PORT/DB
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/bitespeed

# PG Pool tuning
PG_POOL_MAX=20
PG_IDLE_TIMEOUT_MS=30000
PG_STATEMENT_TIMEOUT_MS=5000

# Redis
# Format: redis://HOST:PORT
REDIS_URL=redis://localhost:6379


